# file options
--exclude Sources/**/*.generated.swift
--exclude Tests/**/*.swift

# format options
--extensionacl on-declarations
--stripunusedargs closure-only
--commas inline
--self remove
--selfrequired get
--disable preferKeyPath
--disable opaqueGenericParameters